<template>
    <!--<div>-->
    <!--<table class="table">-->
    <!--<thead>-->
    <!--<tr>-->
    <!--<th>序号</th>-->
    <!--<th>名称</th>-->
    <!--<th>内容</th>-->
    <!--<th>链接</th>-->
    <!--<th>备注</th>-->
    <!--</tr>-->
    <!--</thead>-->
    <!--<tbody v-if="detailPages.length">-->
    <!--<tr v-for="item in detailPages">-->
    <!--<td>{{ item.id }}</td>-->
    <!--<td>{{ item.name }}</td>-->
    <!--<td>{{ item.htmlContent }}</td>-->
    <!--<td>{{ item.url }}</td>-->
    <!--<td>{{ item.remark }}</td>-->
    <!--</tr>-->

    <!--</tbody>-->
    <!--<tbody v-else class="text-center">-->
    <!--<tr>-->
    <!--<td colspan="5">没有数据</td>-->
    <!--</tr>-->
    <!--</tbody>-->
    <!--</table>-->
    <!--</div>-->

    <div>
        <Row>
            <Col span="2"><Button @click="makeDialogShow(false)" type="info">新增</Button></Col>
            <Col span="8"><search-component></search-component></Col>
            
        </Row>
        <Row class="row">&nbsp;</Row>
        <Row>
            <Table :loading="loading" highlight-row ref="currentRowTable" :columns="columns"
                   :data="detailPages"></Table>
        </Row>
        <new-form></new-form>
    </div>
    
</template>

<script src="./fetchdata.ts"></script>
