<!--<template>-->
    <!--<div id='app-root' class="container-fluid">-->
        <!--<div class="row">-->
            <!--<div class="col-sm-3">-->
                <!--<menu-component/>-->
            <!--</div>-->
            <!--<div class="col-sm-9">-->
                <!--<router-view></router-view>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</template>-->

<template>
    <div id='app-root' class="container-fluid">
        <menu-component/>
    </div>
</template>

<script src="./app.ts"></script>
